<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youfan.mapper.MsgMapper">

    <select id="listbyywmessagestatus"  resultType="com.youfan.model.MessageLog">
  SELECT *
        from messagestatuslog	WHERE ywmessagestatus = #{ywmessagestatus}
    </select>

    <select id="listbyall"  resultType="com.youfan.model.MessageLog">
        SELECT *
            from messagestatuslog	;
    </select>





</mapper>